header {
  margin: 0 100px;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo-img {
  width: 100px;
  height: 100px;
}

nav {
  font-size: 1.25rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  text-decoration: underline;
  color: #999;
}
