.profile_section {
  display: flex;
  margin: 25px 100px;
  gap: 25px;
}

.profile_missions {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 50%;
}

.profile_missions h2 {
  margin: 25px 0;
}

.profile_mission_title {
  width: 100%;
  border-collapse: collapse;
}

.profile_mission_tr {
  border: 1px solid #ddd;
}

.profile_mission_td {
  height: 50px;
  padding: 5px;
}
