.profile_section {
  display: flex;
  margin: 25px 100px;
}

.profile_missions {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 50%;
}

.profile_mission_title {
  width: 100%;
  height: 200px;
  border-collapse: collapse;
}

.profile_mission_tr {
  border: 1px solid #ddd;
}
